In [20]:
# Imports -  These are all you need for the assignment: do not import additional packages
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
from geopy.geocoders import Nominatim
from urllib.request import Request

from pandas.core import datetools
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [34]:
#load Los Angeles Data
df_LosAngeles = pd.read_csv("data/Crime_Data_from_2010_to_Present.csv") 

#Remove unneeded columns
df_LosAngeles_Trimmed = df_LosAngeles[['Date Occurred','Time Occurred','Crime Code','Location ']]

In [22]:
#Load Median Housing Data
df_HousePrice = pd.read_csv("data/Zip_MedianListingPrice_AllHomes.csv")

#Filter by Los Angeles Only
df_LAHousePrice = df_HousePrice[df_HousePrice['City'] == 'Los Angeles']

In [74]:
#Load US Zip Codes
df_US_Zip = pd.read_csv("data/US.txt",header = None, sep = '\t')
df_US_Zip.columns = ['Country', 'ZipCode','City','State','Stabv','ignore1','ignore2','ignore3', 'ignore4','long','lat','ignore5']

#Sort Only Los Angeles
df_US_Zip_trimmed = df_US_Zip[df_US_Zip['City'] == 'Los Angeles']

df_US_Zip_trimmed = df_US_Zip_trimmed[['Country','ZipCode','City','State','long','lat']]

df_US_Zip_trimmed.head()

     Country  ZipCode         City       State     long       lat
2811      US    90001  Los Angeles  California  33.9731 -118.2479
2812      US    90002  Los Angeles  California  33.9497 -118.2462
2813      US    90003  Los Angeles  California  33.9653 -118.2727
2814      US    90004  Los Angeles  California  34.0762 -118.3029
2815      US    90005  Los Angeles  California  34.0585 -118.3012

In [ ]:
#Function to get closest zip code
def get_closest_zip(long, lat):

In [24]:
#locator hack

def get_geolocator():
    geolocator = Nominatim()

    requester = geolocator.urlopen

    def requester_hack(req, **kwargs):
        req = Request(url=req, headers=geolocator.headers)
        return requester(req, **kwargs)

    geolocator.urlopen = requester_hack

    return geolocator

In [54]:
#Convert location to address
location = get_geolocator().reverse('34.0454, -118.3157')
address = location.address
print(location)

1429, South Van Ness Avenue, Country Club Park, Cienega, LA, Los Angeles County, California, 90019, United States of America

In [46]:
df_LosAngeles_Trimmed.head()
df_LosAngeles.shape

(1692056, 26)

In [ ]:
df_HousePrice

In [36]:
#Sort los Angeles data by 
df_LosAngeles_Trimmed = df_LosAngeles_Trimmed.sort_values(by='Date Occurred')

In [37]:
df_LosAngeles_Trimmed['Location ']= df_LosAngeles_Trimmed['Location '].str.replace(r"\(","")
df_LosAngeles_Trimmed['Location ']= df_LosAngeles_Trimmed['Location '].str.replace(r"\)","")

In [67]:
df_LosAngeles_Trimmed.head(10)

       Date Occurred  Time Occurred  Crime Code           Location
254354    01/01/2010           1200         740  34.1103, -118.3333
319962    01/01/2010           2300         812   33.795, -118.2711
293441    01/01/2010            800         810  33.9637, -118.3003
319964    01/01/2010           1200         354   33.7742, -118.262
309604    01/01/2010              1         354  34.2354, -118.4502
319965    01/01/2010            600         354  33.7569, -118.3026
319966    01/01/2010            800         354  33.7915, -118.2939
319967    01/01/2010              1         354  33.7951, -118.2752
319969    01/01/2010              1         354  33.7831, -118.2552
138172    01/01/2010           1800         510  34.2891, -118.4135

In [73]:
df_LosAngeles_Trimmed_Location = df_LosAngeles_Trimmed['Location '].str.split(',', expand=True)
df_LosAngeles_Trimmed_Location.columns = ['Long', 'Lat']

df_LosAngeles_Trimmed_LongLat = pd.concat([df_LosAngeles_Trimmed,df_LosAngeles_Trimmed_Location],axis=1)

df_LosAngeles_Trimmed_LongLat

,Date Occurred,Time Occurred,Crime Code,Location,Long,Lat
254354,01/01/2010,1200,740,"34.1103, -118.3333",34.1103,-118.3333
319962,01/01/2010,2300,812,"33.795, -118.2711",33.795,-118.2711
293441,01/01/2010,800,810,"33.9637, -118.3003",33.9637,-118.3003
319964,01/01/2010,1200,354,"33.7742, -118.262",33.7742,-118.262
309604,01/01/2010,1,354,"34.2354, -118.4502",34.2354,-118.4502
319965,01/01/2010,600,354,"33.7569, -118.3026",33.7569,-118.3026
319966,01/01/2010,800,354,"33.7915, -118.2939",33.7915,-118.2939
319967,01/01/2010,1,354,"33.7951, -118.2752",33.7951,-118.2752
319969,01/01/2010,1,354,"33.7831, -118.2552",33.7831,-118.2552
138172,01/01/2010,1800,510,"34.2891, -118.4135",34.2891,-118.4135
319959,01/01/2010,2300,812,"33.7895, -118.2777",33.7895,-118.2777
319971,01/01/2010,1200,354,"33.7351, -118.2814",33.7351,-118.2814
137783,01/01/2010,1200,341,"34.1284, -118.3568",34.1284,-118.3568
319977,01/01/2010,800,354,"34.0908, -118.3223",34.0908,-118.3223
234847,01/01/2010,1200,812,"34.0174, -118.3089",34.0174,-118.3089
137561,01/01/2010,1200,354,"34.2048, -118.3703",34.2048,-118.3703
309510,01/01/2010,800,341,"34.233, -118.4386",34.233,-118.4386
319979,01/01/2010,1000,354,"34.1, -118.3044",34.1,-118.3044
136818,01/01/2010,1200,341,"34.2046, -118.4138",34.2046,-118.4138
309505,01/01/2010,900,310,"34.2144, -118.439",34.2144,-118.439
309503,01/01/2010,530,341,"34.2294, -118.423",34.2294,-118.423
104931,01/01/2010,1200,812,"33.9679, -118.2827",33.9679,-118.2827
315605,01/01/2010,800,341,"34.1922, -118.6234",34.1922,-118.6234
319957,01/01/2010,1000,812,"33.7778, -118.2753",33.7778,-118.2753
319956,01/01/2010,800,354,"33.7134, -118.2916",33.7134,-118.2916
318371,01/01/2010,1,956,"33.9957, -118.3333",33.9957,-118.3333
318372,01/01/2010,600,121,"33.9996, -118.2893",33.9996,-118.2893
160030,01/01/2010,1200,354,"34.2573, -118.5536",34.2573,-118.5536
319947,01/01/2010,1200,810,"34.0529, -118.1931",34.0529,-118.1931
319948,01/01/2010,1200,812,"34.0941, -118.16",34.0941,-118.16
...,...,...,...,...,...,...
1655463,12/31/2017,1830,420,"34.2157, -118.3703",34.2157,-118.3703
1655466,12/31/2017,1600,210,"34.2306, -118.3768",34.2306,-118.3768
1655476,12/31/2017,200,330,"34.2316, -118.3682",34.2316,-118.3682
1655479,12/31/2017,2330,330,"34.2239, -118.3678",34.2239,-118.3678
1655480,12/31/2017,2200,740,"34.2627, -118.4347",34.2627,-118.4347
1655481,12/31/2017,730,745,"34.256, -118.3003",34.256,-118.3003
1655422,12/31/2017,2000,330,"34.1849, -118.3746",34.1849,-118.3746
1655206,12/31/2017,1720,230,"34.0233, -118.2602",34.0233,-118.2602
1655309,12/31/2017,2030,440,"33.9759, -118.3897",33.9759,-118.3897
1662979,12/31/2017,1120,940,"33.7831, -118.2596",33.7831,-118.2596
1655211,12/31/2017,2030,331,"33.9955, -118.2502",33.9955,-118.2502
1655215,12/31/2017,2350,900,"34.0082, -118.2762",34.0082,-118.2762
1655217,12/31/2017,1930,740,"34.0306, -118.2341",34.0306,-118.2341
1655225,12/31/2017,1950,930,"33.9983, -118.2608",33.9983,-118.2608
1655226,12/31/2017,1950,930,"33.9983, -118.2608",33.9983,-118.2608
1655237,12/31/2017,700,510,"33.9807, -118.2652",33.9807,-118.2652
1655243,12/31/2017,1200,745,"33.9962, -118.2411",33.9962,-118.2411
1662999,12/31/2017,100,236,"33.7106, -118.2916",33.7106,-118.2916
1655308,12/31/2017,1925,624,"33.9876, -118.4489",33.9876,-118.4489
1655294,12/31/2017,2200,946,"33.9852, -118.4109",33.9852,-118.4109
1655296,12/31/2017,1900,510,"33.9858, -118.4676",33.9858,-118.4676
1655297,12/31/2017,200,230,"33.9981, -118.4611",33.9981,-118.4611
1655298,12/31/2017,2000,510,"33.9875, -118.4672",33.9875,-118.4672
1655301,12/31/2017,1820,310,"33.9638, -118.4289",33.9638,-118.4289
1655303,12/31/2017,2045,624,"33.9795, -118.4668",33.9795,-118.4668
1655305,12/31/2017,1800,510,"33.9735, -118.4236",33.9735,-118.4236
1655306,12/31/2017,2115,626,"33.9547, -118.4413",33.9547,-118.4413
1655307,12/31/2017,1100,900,"33.9509, -118.3725",33.9509,-118.3725
1655295,12/31/2017,1230,310,"34.0132, -118.431",34.0132,-118.431
1661626,12/31/2017,600,510,"33.9756, -118.3338",33.9756,-118.3338

In [76]:
#Use service to get zip, too much data doesn't work D:

#df_LosAngeles_Trimmed_test.assign(Address=df_LosAngeles_Trimmed_test['Location '].apply(get_geolocator().reverse))

df_LosAngeles_Trimmed_LongLat.to_csv('LosAngelesCrimeData.csv')

In [ ]:
#get zip code